<div class="wrapper-header">
  <h1> <%= t('shared.sidebar.tenants') %></h1>
  <div class="urbanist-form">
    <%= form_tag tenants_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "urbanist-form-field",
      placeholder: t('tenants.find_tenant')
    %>
    <%= submit_tag t('search'), class: "button-secondary" %>
    <% end %>
  </div>
  <%= link_to t('tenants.new_tenant'), new_tenant_path, class: "button-primary" %>
</div>

<div class="card-wrapper">
  <%= render 'shared/cards.html.erb', { records: @tenants } %>
</div>
