  <div class="header-wrapper d-flex justify-content-between">
    <h1><%= @tenant.full_name %></h1>
    <%= link_to "Delete", tenant_path(@tenant), method: :delete, class:"button-secondary" %>
  </div>
  <div class="card-wrapper">
    <div>
      <div class="card-top">
        <div class="card-top-body">
          <div class="personal-details">
              <% if @tenant.respond_to?(:photo) && @tenant.photo.attached? %>
                <%= image_tag @tenant.photo, class: "avatar-bordered" %>
              <% else %>
                <%= image_tag "urbanist-logo.png", class: "avatar-bordered" %>
              <% end %>
            <ul>
              <li> <strong> <%= t('show.email') %>:</strong> <%= @tenant.email %> </li>
              <li> <strong> <%= t('show.phone') %>:</strong> <%= @tenant.phone %> </li>
              <li> <strong> <%= t('show.nationality') %>:</strong> <%= @tenant.nationality %> </li>
            </ul>
            <ul>
              <% if @tenant.id_type %>
                <li> <strong><%= @tenant.id_type %> :</strong> <%= @tenant.id_number %> </li>
              <% end %>
              <li> <strong> CIF</strong> <%= @tenant.cif%> </li>
              <li> <strong> <%= t('show.address') %>:</strong> <%= @tenant.full_address%> </li>
              <li> <strong> <%= t('show.notes') %>:</strong> <%= @tenant.description %> </li>
            </ul>
          </div>
        </div>
      </div>
      <br>
      <h2>Bookings</h2>
      <%= render 'shared/table.html.erb', { headers: Booking::TABLE_HEADERS, records: @bookings } %>
    </div>
  </div>
