<div class="register-container">
  <h1>Register new user</h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="form-field">
        <p><%= request.subdomain %></p>
        <%= f.input :company_id,
                  as: :hidden,
                  input_html: { value: @company.id },
                  required: true,
                  placeholder: 'Company name',
                  label: false,
                  autofocus: true %>
        </div>
        <hr>
        <div class="form-field">
          <%= f.input :first_name,
                    required: true,
                    placeholder: 'First name',
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "first-name" } %>
        </div>
        <hr>
        <div class="form-field">
          <%= f.input :last_name,
                    required: true,
                    placeholder: 'Last name',
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "last-name" } %>
        </div>
        <hr>
        <div class="form-field">
          <%= f.input :email,
                    required: true,
                    placeholder: 'Email',
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        </div>
        <hr>
        <div class="form-field">
          <%= f.input :password,
                      required: true,
                      placeholder: 'Contraseña',
                      label: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <hr>
        <div class="form-field">
          <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: 'Confrimar contraseña',
                    input_html: { autocomplete: "new-password" } %>
        </div>
        <hr>
      </div>
      <%= f.button :submit, class: "button-primary" %>
    <% end %>
</div>
