<div class="register-container">
  <div id="stepProgressBar">
    <div class="step">
      <p class="step-text">Select Mode</p>
      <div class="bullet completed" data-wizard-target="bullet">1</div>
    </div>
    <div class="step">
      <p class="step-text">Company Profile</p>
      <div class="bullet completed" data-wizard-target="bullet">2</div>
    </div>
    <div class="step">
      <p class="step-text">User Profile</p>
      <div class="bullet" data-wizard-target="bullet">3</div>
    </div>
  </div>
  <h1>Register new user <%= "for #{@company.name}" if @company.present? %></h1>
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>
      <div class="form-inputs">
        <div class="form-field">
        <%= f.input :company_id,
                  as: :hidden,
                  input_html: { value: @company.id },
                  required: true,
                  placeholder: 'Company name',
                  label: false,
                  autofocus: true %>
        </div>
        <div class="form-field">
          <%= f.input :first_name,
                    required: true,
                    placeholder: 'First name',
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "first-name" } %>
        </div>
        <div class="form-field">
          <%= f.input :last_name,
                    required: true,
                    placeholder: 'Last name',
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "last-name" } %>
        </div>
        <div class="form-field">
          <%= f.input :email,
                    required: true,
                    placeholder: 'Email',
                    label: false,
                    autofocus: true,
                    input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-field">
          <%= f.input :password,
                      required: true,
                      placeholder: 'Contraseña',
                      label: false,
                      input_html: { autocomplete: "new-password" } %>
        </div>
        <div class="form-field">
          <%= f.input :password_confirmation,
                    required: true,
                    label: false,
                    placeholder: 'Confrimar contraseña',
                    input_html: { autocomplete: "new-password" } %>
        </div>
      </div>
      <%= f.button :submit, class: "button-primary" %>
    <% end %>
</div>
