<div class="row">
  <div class="devise-box col-lg-6 col-sm-12">
    <div class="sign-in-form">
      <%= image_tag('https://uploads-ssl.webflow.com/5eafe775b41a94c727c302e5/5ee23ff0abd872292227d6f6_EQUINOX%20LOGO%20-01%20(1)-p-500.png', class: "logo-home") %>

      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <div class="form-field">
          <%= f.input :email,
                      required: true,
                      placeholder: 'email',
                      label: false,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
          </div>
          <hr>
          <div class="form-field">
            <%= f.input :password,
                        required: true,
                        placeholder: 'Contraseña',
                        label: false,
                        input_html: { autocomplete: "new-password" } %>
          </div>
          <hr>
          <div class="form-field">
          <%= f.input :password_confirmation,
                      required: true,
                      label: false,
                      placeholder: 'Confrimar contraseña',
                      input_html: { autocomplete: "new-password" } %>
          </div>
          <hr>
        </div>
        <div class="form-actions">
          <%= f.button :submit, "Registrarse", class: 'button-primary' %>
        </div>
      <% end %>
      <%= render "devise/shared/links" %>
    </div>
  </div>
  <div class="col-lg-6 col-sm-12">
    <div class="hero-banner">
    </div>
  </div>
</div>

