<div class="wrapper-header">
  <h1>Flats</h1>
  <div class="urbanist-form">
    <%= form_tag flats_path, method: :get do %>
      <%= text_field_tag :query,
        params[:query],
        class: "urbanist-form-field",
        placeholder: "Find a flat"
      %>
      <%= submit_tag "Search", class: "button-secondary" %>
    <% end %>
  </div>
  <%= link_to "New flat", new_flat_path, class: "button-primary" %>
</div>

<div class="card-wrapper">
  <%= render 'shared/cards.html.erb', { records: @flats } %>
</div>
