<div class="wrapper-header">
  <h1><%= t("bookings.booking_for") %> <%= @booking.tenant.first_name %> </h1>
  <div class="d-flex">
  <ul class="nav" id="myTab" role="tablist">
    <li class="button-small btn-left">
      <button class="active" id="form-tab" data-toggle="tab" href="#form" role="tab" aria-controls="form" aria-selected="false"><%= image_tag "google-forms.png", alt: "list icon" %> </button>
    </li>
    <li class="button-small btn-right">
      <button id="pdf-tab" data-toggle="tab" href="#pdf" role="tab" aria-controls="pdf" aria-selected="true"><%= image_tag "pdf-file.png", alt: "calendar icon" %></button>
    </li>
  </ul>
  <%= link_to t('bookings.edit_booking'), edit_booking_path, class: "button-primary me-2" %>
  <%= link_to t('bookings.delete_booking'), booking_path(@booking), method: :delete, class: "button-secondary" %>
  </div>
</div>

<div class="card-wrapper">
  <%#= link_to t('bookings.edit_booking'), edit_booking_path, class: "button-secondary ms-auto " %>
  <div class="tab-content height-100" id="myTabContent">
    <div class="tab-pane fade show active" id="form" role="tabpanel" aria-labelledby="form-tab">
        <div class="form-group-three">
          <div class="mb-3 form-group">
            <p class="my-2">Start date</p>
            <p class="fw-bold"><%= @booking.start_date.present? ? @booking.start_date : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">End date</p>
            <p class="fw-bold"><%= @booking.end_date.present? ? @booking.end_date : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">Agent full name</p>
            <p class="fw-bold"><%= @booking.user.full_name.present? ? @booking.user.full_name : "-" %></p>
          </div>
        </div>
        <div class="form-group-three">
          <div class="mb-3 form-group">
            <p class="my-2">Flat name</p>
            <p class="fw-bold"><%= @booking.flat.name.present? ? @booking.flat.name : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">Tenant full name</p>
            <p class="fw-bold"><%= @booking.tenant.full_name.present? ? @booking.tenant.full_name : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">Contract type</p>
            <p class="fw-bold"><%= @booking.contract_type.present? ? @booking.contract_type : "-" %></p>
          </div>
        </div>
        <div class="deposit-box">
          <p><strong>Deposit</strong></p>
          <div class="form-group-three">
            <div class="mb-3 form-group">
              <p class="my-2">Deposit state</p>
              <p class="fw-bold"><%= @booking.deposit.state %></p>
            </div>
            <div class="mb-3 form-group">
              <p class="my-2">Deposit amount</p>
              <p class="fw-bold"><%= @booking.deposit.amount %></p>
            </div>
            <div class="mb-3 form-group">
              <p class="my-2">Token payment</p>
              <p class="fw-bold"><%= @booking.deposit.token_payment %></p>
            </div>
          </div>
        </div>
        <div class="form-group-one-two">
          <div class="mb-3 form-group">
            <p class="my-2">Deposit registry</p>
            <p class="fw-bold"><%= @booking.deposit_registry.present? ? @booking.deposit_registry : "-" %></p>
          </div>
          <div class="d-flex align-items-center">
            <input type="checkbox" disabled <%= "checked" if @booking.deposit_paid %>>
            <p class="ms-2 mb-0">Deposit paid</p>
          </div>
        </div>
        <div class="form-group-three">
          <div class="mb-3 form-group">
            <p class="my-2">Rent</p>
            <p class="fw-bold"><%= @booking.rent.present? ? @booking.rent : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">Payments</p>
            <p class="fw-bold"><%= @booking.payments.present? ? @booking.payments : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">Agency fee</p>
            <p class="fw-bold"><%= @booking.agency_fee.present? ? @booking.agency_fee : "-" %></p>
          </div>
        </div>
        <div class="form-group-three">
          <div class="mb-3 form-group">
            <p class="my-2">Obligatory complience</p>
            <p class="fw-bold"><%= @booking.obligatory_complience.present? ? @booking.obligatory_complience : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">Appliences</p>
            <p class="fw-bold"><%= @booking.appliences.present? ? @booking.appliences : "-" %></p>
          </div>
          <div class="mb-3 form-group">
            <p class="my-2">Itp</p>
            <p class="fw-bold"><%= @booking.itp.present? ? @booking.itp : "-" %></p>
          </div>
        </div>
        <div>
          <p class="my-2">Check in notes</p>
          <p class="fw-bold"><%= @booking.check_in_notes.present? ? @booking.check_in_notes : "-" %></p>
        </div>

    </div>
    <div class="tab-pane fade height-100" id="pdf" role="tabpanel" aria-labelledby="pdf-tab">
      <div class="d-flex justify-content-end">
        <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
          <li class="nav-item" role="presentation">
            <button class="nav-link active" id="pills-home-tab" data-bs-toggle="pill" data-bs-target="#pills-home" type="button" role="tab" aria-controls="pills-home" aria-selected="true">Español</button>
          </li>
          <li class="nav-item" role="presentation">
            <button class="nav-link" id="pills-profile-tab" data-bs-toggle="pill" data-bs-target="#pills-profile" type="button" role="tab" aria-controls="pills-profile" aria-selected="false">English</button>
          </li>
        </ul>
      </div>
      <div class="pdf-preview" id="pills-tabContent">
        <div class="tab-pane fade show active pdf-preview" id="pills-home" role="tabpanel" aria-labelledby="pills-home-tab">
          <iframe src="/booking_pdf.pdf?id=<%= @booking.id %>&language=es" frameborder="0" class="pdf-preview"></iframe>
        </div>
        <div class="tab-pane fade pdf-preview" id="pills-profile" role="tabpanel" aria-labelledby="pills-profile-tab">
          <iframe src="/booking_pdf.pdf?id=<%= @booking.id %>&language=eng" frameborder="0" class="pdf-preview"></iframe>
        </div>
      </div>
    </div>
  </div>
</div>
