<%= simple_form_for landlord, html: { class: class_list } do |f| %>
  <div class="form-group-three">
    <%= f.input :first_name, class: "form-control" %>
    <%= f.input :last_name, class: "form-control" %>
    <%= f.input :photo, class: "form-control" %>
  </div>
  <div class="form-group-three">
    <%= f.input :company_name, class: "form-control" %>
    <%= f.input :email, class: "form-control" %>
    <%= f.input :phone, class: "form-control" %>
  </div>
  <div class="form-group-three">
    <%= f.input :street, class: "form-control" %>
    <%= f.input :number, class: "form-control" %>
    <%= f.input :city, class: "form-control" %>
  </div>
  <div class="form-group-three">
    <%= f.input :postal_code, class: "form-control" %>
    <%#= f.input :country, collection: Flat::COUNTRIES, class: "form-control" %>
    <%= f.input :nationality, class: "form-control" %>
  </div>
  <div class="form-group-three">
    <%= f.input :iban, class: "form-control" %>
    <%= f.input :id_number, class: "form-control" %>
    <%= f.input :id_type, class: "form-control" %>
  </div>
  <div class="form-group-two">
    <%= f.input :notes, class: "form-control" %>
    <%= f.input :cif, class: "form-control" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Submit",  class: "button-primary" %>
  </div>
<% end %>
