<%= simple_form_for invoice, html: { class: class_list } do |f| %>
  <div class="form-group">
    <%= f.label :booking %>
    <%= f.select :booking_id, Booking.all.pluck(:id), {}, { class: "form-control", prompt: "Select Booking" } %>
  </div>
  <div class="form-group">
    <%= f.input :state, class: "form-control" %>
    <%= f.input :fianza, class: "form-control" %>
    <%= f.input :total, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.input :sequence, class: "form-control" %>
    <%= f.input :supplements, class: "form-control" %>
  </div>
  <div class="form-actions">
    <%= f.button :submit, "Submit",  class: "button-primary" %>
  </div>
<% end %>
