<%= simple_form_for incident, html: { class: class_list } do |f| %>
  <div class="form-group-two-one">
    <%= f.input :title, class: "urbanist-form-field" %>
    <%= f.input :photo, class: "urbanist-form-field" %>
  </div>
  <div class="form-group-three">
    <%= f.association :booking, label_method: lambda { |booking| "#{booking.flat.name} | #{booking.start_date}" } %>
    <%= f.association :user, label_method: :first_name %>
    <%= f.input :state, class: "urbanist-form-field", collection: ApplicationRecord::STATE %>
  </div>
  <div class="form-group-three">
    <%= f.input :hourly_fee, class: "urbanist-form-field" %>
    <%= f.input :total_hours, class: "urbanist-form-field" %>
    <%= f.input :total_cost, class: "urbanist-form-field" %>
  </div>
  <%= f.input :description, class: "urbanist-form-field" %>
  <div class="form-actions">
    <%= f.button :submit, "Submit",  class: "button-primary" %>
  </div>
<% end %>
