<%= simple_form_for booking, html: { class: class_list } do |f| %>
  <div class="form-group-three">
    <%= f.input :start_date, as: :date, html5: true, class: "form-control" %>
    <%= f.input :end_date, as: :date, html5: true, class: "form-control" %>
    <div class="form-group">
      <%= f.label :user %>
      <%= f.select :user_id, User.where(company_id: current_user.company.id).pluck(:first_name, :id), {}, { class: "form-control", prompt: "Select User" } %>
    </div>
  </div>
  <div class="form-group-three">
    <div class="form-group">
      <%= f.association :flat, value_method: :id,input_html: { class: "selectize form-control" } %>
    </div>
    <div class="form-group">
      <%= f.association :tenant, value_method: :id, label_method: lambda { |tenant| "#{tenant.first_name} #{tenant.last_name}" } , input_html: { class: "selectize form-control" } %>
    </div>
    <%= f.input :contract_type, class: "form-control", collection: Booking::CONTRACT_TYPE %>
  </div>
  <div class="deposit-box mb-2">
    <p><strong>Deposit</strong></p>
    <%= render 'shared/form_deposit.html.erb', { class_list: "", f: f } %>
  </div>
  <div class="form-group-two-one">
    <%#= f.input :deposit_amount, class: "form-control" %>
    <%= f.input :deposit_registry, class: "form-control" %>
    <%= f.input :deposit_paid, class: "form-control" %>
  </div>
  <div class="form-group-three">
    <%= f.input :rent, class: "form-control" %>
    <%= f.input :payments, class: "form-control" %>
    <%= f.input :agency_fee, class: "form-control" %>
    <%#= f.input :state, class: "form-control" %>
  </div>
  <div class="form-group-three">
    <%= f.input :obligatory_complience, class: "form-control" %>
    <%= f.input :appliences, class: "form-control" %>
    <%= f.input :itp, class: "form-control" %>
  </div>
  <%= f.input :check_in_notes %>
  <div class="form-actions">
    <%= f.button :submit, "Submit",  class: "button-primary" %>
  </div>
<% end %>
