<%= image_tag 'urbanist-logo.png' %>

<ul class="sidebar-links">
  <li><%= image_tag 'home.png' %> <%= link_to "Dashboard", root_path %> </li>
  <li><%= image_tag 'file.jpg' %> <%= link_to "Bookings", bookings_path %> </li>
  <li><%= image_tag 'file-text.jpg' %> <%= link_to "Invoices", root_path %> </li>
  <li><%= image_tag 'home.png' %> <%= link_to "Receipts", root_path %> </li>
  <li><%= image_tag 'home.png' %> <%= link_to "Dashboard", root_path %> </li>
</ul>

<%= image_tag 'equinox_logo.png', class: "avatar-large" %>
