<%= image_tag 'equinox_logo.png', class: "avatar-large" %>

<ul class="sidebar-links">
  <%= link_to  user_root_path do %>
    <li><%= image_tag 'home.png' %> <%= t('.dashboard') %> </li>
  <% end %>
  <%= link_to bookings_path do  %>
    <li><%= image_tag 'file.jpg' %> <%= t('.bookings') %> </li>
  <% end %>
  <%= link_to invoices_path do  %>
    <li><%= image_tag 'file-text.jpg' %> <%= t('.invoices') %> </li>
  <% end %>
  <%= link_to landlords_path do  %>
    <li><%= image_tag 'users-icon.png' %> <%= t('.landlords') %> </li>
  <% end %>
  <%= link_to tenants_path do %>
    <li><%= image_tag 'user-icon.png' %> <%= t('.tenants') %> </li>
  <% end %>
  <%= link_to incidents_path do %>
    <li><%= image_tag 'Vector-icon.png' %> <%= t('.incidents') %> </li>
  <% end %>
  <%= link_to flats_path do %>
    <li><%= image_tag 'package.png' %> <%= t('.flats') %> </li>
  <% end %>
  <li class="small-text"><%= image_tag 'bar-chart.png' %> <div> <%= t('.statistics') %> <p><span class="pill-tag"> <%= t('.coming_soon') %> </span></p></div></li>
  <%= link_to setting_path do %>
    <li><%= image_tag 'setting.png' %> Settings </li>
  <% end %>
</ul>

<div class="sidebar-footer">
  <%= form_tag set_language_path, class: "language-pill" do %>
    <%= select_tag :lang, options_for_select([["🇬🇧 EN", :en], ["🇪🇸 ES", :es]], I18n.locale), :onchange => "this.form.submit();", style: "border: none; padding: 0px 5px; border-radius: 10px; border: 1px solid #ddd;" %>
  <% end %>
  <small> powered by <%= image_tag 'logo-small.svg', class: "logo-small" %></small>
</div>
