<%= image_tag 'urbanist-logo.png', class: "sidebar-logo" %>

<ul class="sidebar-links">
  <%= link_to root_path do %>
    <li><%= image_tag 'home.png' %> <%= t('.dashboard') %> </li>
  <% end %>
  <%= link_to bookings_path do  %>
    <li><%= image_tag 'file.jpg' %> <%= t('.bookings') %> </li>
  <% end %>
  <%= link_to invoices_path do  %>
    <li><%= image_tag 'file-text.jpg' %> <%= t('.invoices') %> </li>
  <% end %>
  <%= link_to landlords_path do  %>
    <li><%= image_tag 'users-icon.png' %> <%= t('.landlords') %> </li>
  <% end %>
  <%= link_to tenants_path do %>
    <li><%= image_tag 'user-icon.png' %> <%= t('.tenants') %> </li>
  <% end %>
  <%= link_to incidents_path do %>
    <li><%= image_tag 'Vector-icon.png' %> <%= t('.incidents') %> </li>
  <% end %>
  <%= link_to flats_path do %>
    <li><%= image_tag 'package.png' %> Flats </li>
  <% end %>
  <li class="small-text"><%= image_tag 'package.png' %> <div>Statistics <p><span class="pill-tag">Coming soon</span></p></div></li>
</ul>

<%= image_tag 'equinox_logo.png', class: "avatar-large" %>
