<%= image_tag 'urbanist-logo.png' %>

<ul class="sidebar-links">
  <%= link_to root_path do %>
    <li><%= image_tag 'home.png' %> Dashboard </li>
  <% end %>
  <%= link_to bookings_path do  %>
    <li><%= image_tag 'file.jpg' %> Bookings </li>
  <% end %>
  <%= link_to invoices_path do  %>
    <li><%= image_tag 'file-text.jpg' %> Invoices </li>
  <% end %>
  <%= link_to landlords_path do  %>
    <li><%= image_tag 'users-icon.png' %> Landlords </li>
  <% end %>
  <%= link_to tenants_path do %>
    <li><%= image_tag 'user-icon.png' %> Tenants </li>
  <% end %>
  <%= link_to incidents_path do %>
    <li><%= image_tag 'Vector-icon.png' %> Incidents </li>
  <% end %>
  <%= link_to flats_path do %>
    <li><%= image_tag 'package.png' %> Flats </li>
  <% end %>
</ul>

<%= image_tag 'equinox_logo.png', class: "avatar-large" %>
