<div data-controller="filter">
  <table class="urban-table">
    <tbody>
      <tr class="header-row" data-filter-target="header">
        <% headers.each do |header| %>
          <th class="urban-table-header"> <%= t("table.#{header}") %> </th>
        <% end %>
          <th class="urban-table-header last-row"><%= image_tag 'filter.png', width: "20px", data: { action: "click->filter#showFilters" } %></th>
      </tr>
      <tr class="header-row d-none" data-filter-target="filters">
        <%= simple_form_for records.model.to_s.downcase.to_sym, url: request.url, data: { filter_target: "form" } do |f| %>
          <% headers.each do |header| %>
            <% if records.present? && records.first.send(header.to_sym).respond_to?(:id) %>
              <% collection = records.model.all.extract_associated(header.to_sym).map { |record| record.table_attribute }.uniq %>
            <% elsif records.present? %>
              <% collection = records.model.all.pluck(header.to_sym).uniq %>
            <% end %>
            <th class="urban-table-header ">
              <%= f.input header.to_sym,
                          label: false,
                          collection: collection,
                          input_html: {
                            data: {
                              action: "change->filter#filterRecords"
                            }
                          } %>
            </th>
          <% end %>
        <% end %>
        <th class="urban-table-header last-row"> </th>
      </tr>
    </tbody>
    <tbody class="urban-table" data-filter-target="view">
      <% if records.any? %>
        <%= render 'shared/table_rows', headers: headers, records: records %>
      <% end %>
    </tbody>
  </table>
  <div class="apple_pagination">
    <% unless records.nil? %>
      <%= will_paginate records %>
    <% end %>
  </div>
</div>
