<h1><%= t('dashboard.welcome', name: current_user.first_name) %> </h1>
<div class="card-wrapper grid-col-one-one">
  <div class="grid-one-one-two">
    <div class="grid-col-one-one">
      <div class="horizontal-card">
        <p> <%= t('dashboard.your_bookings') %> </p>
        <div class="grid-status">
          <div>
            <h3><%= @user_booking_status["Abierta"] || 0 %></h3>
            <small><em>Open</em></small>
          </div>
          <div>
            <h3><%= @user_booking_status["Cerrada"] || 0 %></h3>
            <small><em>Closed</em></small>
          </div>
          <div>
            <h3><%= @user_booking_status.values.sum || 0 %></h3>
            <small><em>Total</em></small>
          </div>
        </div>
      </div>

      <div class="horizontal-card">
        <p> <%= t('dashboard.this_year_bookings') %> </p>
        <div class="grid-status">
          <div>
            <h3><%= @booking_status["Abierta"] || 0 %></h3>
            <small><em>Open</em></small>
          </div>
          <div>
            <h3><%= @booking_status["Cerrada"] || 0 %></h3>
            <small><em>Closed</em></small>
          </div>
          <div>
            <h3><%= @booking_status.values.sum || 0 %></h3>
            <small><em>Total</em></small>
          </div>
        </div>
      </div>
    </div>

    <div class="horizontal-card">
      <p> <%= t('dashboard.this_year_top_5') %> </p>
      <% @top_five_flats.each do |flat| %>
        <div class="top-5-flats">
          <p><%= flat.street %></p>
          <p><strong><%= flat.flats_count %></strong></p>
        </div>
      <% end %>
    </div>

    <div
      id="map"
      class="horizontal-card" style="width: 100%; height: auto; border:none;"
      data-markers="<%= @markers.to_json %>">
    </div>
  </div>

  <div class="horizontal-card d-flex flex-column">
    <p> <%= t('dashboard.this_year_sales') %> </p>
    <h3>€ <%= number_with_delimiter(@sales_this_year, :delimiter => ',') %></h3>
    <div class="flex-grow-1"><canvas data-controller="stats" data-stats-sales-value="<%= @sales_monthly.to_json %>" data-stats-target="salesChart" style="width: 100%; height: 100%"></canvas></div>
  </div>
</div>
