<div class="d-flex justify-content-between">
  <h1>Settings</h1>
  <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "button-secondary" %>
</div>
<div class="card-wrapper">
  <div class="d-flex justify-content-between align-items-center">
    <h4 class="m-0">Team Members</h4>
    <% if current_user.role == "Admin" %>
      <%= link_to "Invite User", new_user_invitation_path(company_id: current_user.company.id), class: "button-primary" %>
    <% end %>
  </div>
  <hr>

  <div class="card-member">
    <h6>Full Name</h6>
    <h6>Role</h6>
    <h6>Invitation Status</h6>
    <h6>Confirmation Status</h6>
  </div>
  <% @members.each do |member| %>
    <div class="card-member">
      <p><%= member.first_name.present? ? "#{member.first_name} #{member.last_name}" : "#{member.email}" %></p>
      <p><%= member.role %></p>
      <p>
        <% if member.created_by_invite? && !member.invitation_accepted? %>
          <%= "Invited" %>
        <% elsif member.invitation_accepted? %>
          <%= "Accepted" %>
        <% else %>
          <%= "-" %>
        <% end %>
      </p>
      <p><%= member.confirmed? ? "Confirmed" : "Pending" %></p>
      <% if !member.confirmed? && current_user.role == "Admin" && !member.created_by_invite? %>
        <%= link_to "Accept User", confirmation_url(member, confirmation_token: member.confirmation_token), class:"button-primary" %>
      <% end %>
    </div>
  <% end %>
</div>
