<div class="banner-wrapper">
  <div class="banner">
    <div class="main-container">
      <div class="banner-body fadeInOut">
        <div class="banner-body-text">

        <h1> <%= raw t('home.banner_title') %></h1>
        <p> <%= raw t('home.banner_description') %> </p>
        <div>
          <%= link_to "#{raw t("home.register")}*", new_company_path, class: "button-primary" %>
        </div>
          <br>
        <p class="small-text"> <%= t('home.free_forever') %> </p>
        </div>
          <%= image_tag "banner-illustration.png", alt: "Property management for rental agencies" %>
      </div>
    </div>
  </div>
</div>
<!-- How it works section -->
<section class="how-it-works fadeInOut">
  <div class="main-container">
    <h2> <%= raw t('home.how_works') %> </h2>
    <div class="home-cards">
      <div class="home-card">
        <%= image_tag "table-card.svg", alt: "Customised bookings dashboard", style:"margin-top: -22px;" %>
        <h3><%= t('home.easy_management') %></h3>
        <p> <%= t('home.easy_management_body') %> </p>
      </div>
      <div class="home-card">
        <%= image_tag "graph-card.svg", alt: "Customised statistics about booking revenews" %>
        <h3><%= t('home.kpi') %></h3>
        <p><%= t('home.kpi_body') %></p>
      </div>
      <div class="home-card">
        <%= image_tag "flats-card.svg", alt: "Customised cards for each flat ready to book" %>
        <h3><%= t('home.flat_info') %></h3>
        <p><%= t('home.flat_info_body') %></p>
      </div>
    </div>
  </div>
</section>
<!-- Value proposition section -->
<div class="main-container">
<section class="value-proposition fadeInOut">
    <div class="value-illustration">
      <%= image_tag "value-illustration.svg", alt: "alttext" %>
    </div>
    <div class="value-body">
      <h2><%= raw t('home.value') %></h2>
      <p><%= raw t('home.value_body') %><br>
      <div class="value-button">
        <%= link_to t("home.register"), new_company_path, class: "button-primary" %>
      </div>
    </div>
</section>

<section class="cta-last fadeInOut">
  <div class="cta-last-body">
    <%= image_tag "rocket.svg", alt: "Free memberships for booking management patform" %>
    <h2><%= raw t('home.free_membership') %></h2>
    <h3><%= t('home.free_membership_sub') %></h3>
    <p><%= raw t('home.free_membership_body') %></p>
    <%= link_to t("home.register"), new_company_path, class: "button-primary" %>
  </div>
</section>
</div>
