<div class="register-container">

  <div data-controller="wizard">
    <div data-wizard-target="step">
    <h1>Join or create a company</h1>
    <hr>
      <%= simple_form_for :other do |o| %>
        <%= o.input :category,
            as: :radio_buttons,
            legend_tag: false,
            collection_wrapper_tag: 'div',
            collection_wrapper_class: 'category-wrapper',
            item_wrapper_class: 'category-item',
            input_html: {class: 'category-selector',
                data: {
                  wizard_target: "category"
                }
            },
            collection: ["Create a Company", "Join a Company"] %>
        <div class="d-flex justify-content-end">
          <%= button_tag "Next", type: "button", class: "button-primary",
            data: {
              action: "click->wizard#goToNext",
              next_step: "1"
            } %>
        </div>
      <% end %>
    </div>

    <div data-wizard-target="step" class="d-none">
      <div data-wizard-target="create">
        <h1>Create create a company</h1>
        <hr>
          <%= simple_form_for @company do |f| %>
            <%= f.input :name, collection_wrapper_class: 'category-wrapper' %>
            <div class="d-flex justify-content-between">
              <%= button_tag "Previous", type: "button", class: "button-secondary",
                data: {
                  action: "click->wizard#goToPrevious",
                  previous_step: "1"
                } %>
              <%= f.submit "Create Company", class: "button-primary" %>
            </div>
          <% end %>
      </div>
      <div data-wizard-target="join">
        <h1>Find your company</h1>
        <%# <div class="my-3">
          <form id="search-form" class="row" data-controller="search">
            <input id="search-input" type="text" class="form-control" placeholder="Find company" data-action="keyup->search#searchCompany">
            <p data-search-target="output">Found</p>
          </form>
        </div> %>

        <%= simple_form_for @company, url: join_company_path, method: :post, data: { controller: "search"} do |f| %>
          <%= text_field_tag :name,
                params[:name],
                class: "form-control",
                placeholder: "Find your company",
                data: {
                  action: "keyup->search#searchCompany"
                }
          %>
          <p data-search-target="output"></p>
          <div class="d-flex justify-content-between">
            <%= button_tag "Previous", type: "button", class: "button-secondary",
              data: {
                action: "click->wizard#goToPrevious",
                previous_step: "1"
              } %>
            <%= f.submit "Join Company", disabled: true, class: "button-primary", data: { search_target: "submit" } %>
          </div>
        <% end %>
        <%= @company.id %>
      </div>
    </div>
  </div>
</div>
<%= console %>
