<div class="wrapper-header">
  <h1>Landlords</h1>
  <div class="urbanist-form">
    <%= form_tag landlords_path, method: :get, remote: true do %>
    <%= text_field_tag :query,
      params[:query],
      class: "urbanist-form-field",
      placeholder: "Find a landlord"
    %>
    <%= submit_tag "Search", class: "button-secondary" %>
    <% end %>
  </div>
  <%= link_to "New landlord", "#", class: "button-primary" %>
</div>

<div class="card-wrapper">
  <%= render 'shared/cards.html.erb', { records: @landlords } %>
</div>
