<div class="wrapper-header">
  <h1> <%= t('.landlords') %> </h1>
  <div class="urbanist-form">
    <%= form_tag landlords_path, method: :get do %>
    <%= text_field_tag :query,
      params[:query],
      class: "urbanist-form-field",
      placeholder: t('landlords.find_landlord')
    %>
    <%= submit_tag t('search'), class: "button-secondary" %>
    <% end %>
  </div>
  <%= link_to t('landlords.new_landlord'), new_landlord_path, class: "button-primary" %>
  <%= form_tag import_landlords_path, multipart: true do %>
    <%= file_field_tag :file %>
    <%= submit_tag "Upload" %>
  <% end %>
</div>

<div class="card-wrapper">
  <%= render 'shared/cards.html.erb', { records: @landlords } %>
</div>
