<!DOCTYPE html>
<html>
  <head>
    <title>EquinoxAdmin</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.6/css/selectize.css" integrity="sha512-WUYSspsMSeZ5Rh9CMn8wP9W+8/1ukN1r0CJjw5ZNCCZkM49nig92GzbOur5CpoDcnT+4gVMbPZB5P3su7Z799Q==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%#= yield :charts_js %>
  </head>

  <body>
    <%#= render 'shared/navbar' %>
    <%= render 'shared/flashes' %>
    <% if controller_name == "sessions" && controller.params[:action] == "new" || controller_name == "registration" && controller.params[:action] == "new" %>
      <%= yield %>
    <% else %>
      <div class="main-wrapper">
        <div class="sidebar-wrapper">
          <%= render 'shared/sidebar' %>
        </div>
        <div class="content-wrapper">
          <%= yield %>
          <%= console %>
        </div>
      </div>
    <% end %>

  </body>
</html>
